// color
$strong-blue-bg-color: #2699fb;
$middle-blue-bg-color: #d8edff;
$weak-blue-bg-color: #ebf6ff;
$header-bg-color: #a8d6fd;
$middle-blue-bg-color2: #d5ecff;
$blue-text: #2699fb;
$white-text: #ffffff;
$blue-border: #2699fb;
$weak-blue-border: #ebf6ff;
$strong-blue-border: #2699fb;
$white-border: #ffffff;
$black: #000000;
$btnHover: #7091f5;
//font
$Montserrat: "Poppins", sans-serif;

//breakpoint
$mobile-size: 768px;
$small-pc-size: 1440px;
$hd-size: 1920px;
